@import "tailwindcss";

@keyframes float {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1000px);
  }
}

.animate-float {
  animation: float 120s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}

.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* src/style.css */
@keyframes floatUp {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh);
    opacity: 1;
  }
}

.float-up {
  animation: floatUp 8s ease-in infinite;
}
