@import "tailwindcss";

@keyframes float {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1000px);
  }
}

.animate-float {
  animation: float 120s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}

.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}
